.App {
    text-align: center;

    display: flex;
    flex-direction: row;
    width: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
}

.App .counter {
    flex: 1;
    display: flex;
}

.App .resetButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.App .server {
    display: flex;
    pointer-events: none;
    user-select: none;
}

@media (orientation: portrait) {
    .App {
        flex-direction: column;
    }

    .App .counter.left {
        transform: rotate(180deg);
    }

    .App .resetButton {
        bottom: auto;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
